<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .container{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" name="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password"><br>

        {% for message in messages %}
        {{message}}
        {% endfor %} <br><br>

        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>